.parallax-effect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background: linear-gradient(300deg,#6c00a2,#001152,#1271ff,#dd4aff,#64dcff,#c83232,#b4b432);
  background-size: 420% 420%;
  animation: gradient-animation 35s ease infinite;
  border-radius: 20px;

  transform-style: preserve-3d;

  .inner-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateZ(60px);
    padding: 31px;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}